.heading-featured
{
    font-family: 'Poppins';
    font-weight: 900;
    margin-left: 10px;
    padding-left: 10px;
    margin-top: 35px;
    height: 5px;
    margin-bottom: 30px;
}
.featured
{
    display: flex;
    align-content: center;
    align-items: center;
    
}
.home-article 
{
    width: 33%;  
    padding: 20px 20px 20px 20px;
    display: inline-block;
    font-family: 'Poppins';
    text-decoration: none;
    align-items: center;
    margin-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    box-shadow:0 0 8px 8px rgb(204, 204, 204);
    border-radius: 8px;
}
.home-article .cover 
{
    width: 250px;
    height: 150px;
}
.home-article-img
{
    text-align: center;
}
.home-article .authorname
{
    font-weight: 700;
    font-size: 1.5rem;
}
.home-article .home-article-content h2{
    color: black;
    font-weight: 700;
    font-size: 2.5rem;
}
.date-details{
    color: #000;
    font-weight: 500;

}
.featured2
{
    display: inline-block;
    align-content: center;
}
.home-article2
{
    display: flex ;
    font-family: 'Poppins';
    text-decoration: none;
    padding-left: 10px;
    margin-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    align-items: center;
   
}
.home-article2 .cover 
{
    width: 250px;
    height: 150px;
}
.cover{
    border-radius:7px;
}
.home-article .home-article-content
{
    padding: 10px;
}
.home-article2 .home-article-content
{
    padding: 10px;
}
.home-article2 .home-article-content h2{
    color: black;
    font-weight: 700;
    font-size: 2.5rem;
}
@media(max-width: 810px)
{
    .featured
    {
        display:inline-block;
        align-items: center;
        align-content: center;
        justify-content: center;
        text-align: center;
        
    }
    .home-article
    {
        margin-bottom: 20px;
        width: 80%;  
        padding: 20px 20px 20px 20px;
        display: inline-block;
        font-family: 'Poppins';
        text-decoration: none;
        align-items: center;
        margin-left: 25px;
        margin-right: 25px;
        align-items: center;
        box-shadow:0 0 8px 8px rgb(204, 204, 204);
        border-radius: 8px;
    }
    .home-article .cover    
    {
        width: 250px;
        height: 150px;
    }
    .home-article .cover 
    {
        width: 230px;
        height: 150px;
    }
    .home-article-img
    {
        text-align: center;
    }
    .home-article .authorname
    {
        font-size: 15px;
    }
    .featured2
    {
        display: inline-block;
        align-content: center;
    }
    .home-article2
    {
        display: flex ;
        font-family: 'Poppins';
        text-decoration: none;
        padding-left: 10px;
        margin-left: 10px;
        padding-right: 10px;
        margin-right: 10px;
        margin-bottom: 30px;
        align-items: center;
       
    }
    .home-article2 .cover 
    {
        width: 160px;
        height: 80px;
    }
    .home-article .home-article-content
    {
        padding: 10px;
    }
    .home-article2 .home-article-content
    {
        padding: 10px;
    }
}
/* ----------------------feature blog end----------------------------- */
.para a:link
{
    text-decoration: none;
    color: #fff;
}